<template>
    <loader v-if="isLoading"></loader>
    <form v-else>
        <fieldset>
            <legend align="top">
                Objekt/Einrichtung
            </legend>
            <img :src="pictureData" v-show="pictureData">
            <label>
                <span>Name:</span> 
                <input type="text" placeholder="Name" v-model="props.name">
            </label>
            <label>
                <span>Straße/Hausnummer:</span> 
                <input type="text" placeholder="Straße" v-model="props.street">
            </label>
            <label>
                <span>Postleitzahl:</span> 
                <input type="text" placeholder="Postleitzahl" v-model="props.zipCode">
            </label>
            <label>
                <span>Stadt:</span> 
                <input type="text" placeholder="Stadt" v-model="props.city">
            </label>
            <label>
                <span>Bild anf&uuml;gen:</span>
                <input type="file" accept="image/*" v-on:change="handlePictureUpload">
            </label>
            <br>
            <input type="button" @click="submit" style="float: right" value="Speichern">
        </fieldset>
    </form>
</template>

<script>

import Loader from './Loader'
import { error } from '../EventBus.js'
import { urlApi } from '../urls.js'
import { getFacility, submit } from '../ajax.js'

const $ = require('jquery');

export default {
    name: 'FormFacility',
    components: {
        Loader
    },
    props: {
        data: Object
    },
    data: function() {
        return {
            props: {
                name: '',
                street: '',
                zipCode: '',
                city: '',
                picture: '',
            },
            pictureData: '',
            isPictureDirty: false,
            isLoading: true
        };
    },
    created: function() {
        this.props.name = this.data.name || '';
        if (this.data._id) {
            getFacility(this.data._id).then((resp) => {
                this.props = resp.data;
                this.pictureData = urlApi + 'files/?_id=facility_' + this.props._id + '.' + this.props.picture;
                this.isLoading = false;
            }, () => {
                error('Fehler! Einrichtung konnte nicht gefunden werden!');
                this.$parent.$emit('close', { success: false });
            });
        } else {
            this.isLoading = false;
        }
    },
    methods: {
        handlePictureUpload: function(e) {
            let file = e.target.files[0];
            this.props.picture = file;
            let reader = new FileReader();
            reader.addEventListener('load', () => {
                this.pictureData = reader.result;
                this.isPictureDirty = true;
                this.$emit('imageLoaded', reader.result);
            }, false);
            reader.readAsDataURL(file);
        },
        submit: function(e) {
            if (this.props.name.length === 0) {
                error('Fehler! Name benötigt!');
                return;
            }
            this.isLoading = true;

            let pictureType = this.isPictureDirty ? this.props.picture.name.split('.').pop() : this.props.picture;

            let formData = new FormData();
            formData.append('name', this.props.name);
            formData.append('zipCode', this.props.zipCode);
            formData.append('street', this.props.street);
            formData.append('city', this.props.city);
            formData.append('picture', pictureType);

            let type = 'POST';

            if (this.props._id) {
                type = 'PATCH';
                formData.append('$_id', this.props._id);
            }

            submit(this, 'facility', formData, type, 'Einrichtung', (item) => {
                    if (this.isPictureDirty && pictureType) {
                        let formData = new FormData();
                        formData.append('pic', this.props.picture);
                    formData.append('_id', 'facility_' + item.data._id + '.' + pictureType);
                        $.ajax({
                            url : urlApi + 'files/',
                            data: formData,
                            contentType: false,
                            cache: false,
                            processData: false,
                            type: 'POST'
                        });
                    }
            });
        }
    }
}
</script>

<style scoped>
img {
    width: 150px;
    height: auto;
    float: right;
}
</style>
