<template>
    <loader v-if="isLoading"></loader>
    <form v-else>
        <fieldset>
            <legend align="top">
            Organisation
            </legend>
            <label>
                <span>Name:</span> 
                <input type="text" placeholder="Name" v-model="props.name">
            </label>
            <label>
                <span>Straße/Hausnummer:</span> 
                <input type="text" placeholder="Straße" v-model="props.street">
            </label>
            <label>
                <span>Postleitzahl:</span> 
                <input type="text" placeholder="Postleitzahl" v-model="props.zipCode">
            </label>
            <label>
                <span>Stadt:</span> 
                <input type="text" placeholder="Stadt" v-model="props.city">
            </label>
            <br>
            <input type="button" @click="submit" style="float: right" value="Speichern">
        </fieldset>
    </form>
</template>

<script>

import Loader from './Loader'

import { error } from '../EventBus.js'
import { getOrganization, submit } from '../ajax.js'

const $ = require('jquery');

export default {
    name: 'FormOrganization',
    components: {
        Selection,
        Loader,
    },
    props: {
        data: Object,
    },
    data: function() {
        return {
            props: {
                name: '',
                street: '',
                zipCode: '',
                city: '',
            },
            isLoading: true,
        };
    },
    created: function() {
        this.props.name = this.data.name || '';
        if (this.data._id) {
            getOrganization(this.data._id).then((resp) => {
                this.props = resp.data;
                this.isLoading = false;
            }, () => {
                error('Fehler! Organisation konnte nicht gefunden werden!');
                this.$parent.$emit('close', { success: false });
            });
        } else {
            this.isLoading = false;
        }
    },
    methods: {
        submit: function(e) {
            if (this.props.name.length === 0) {
                error('Fehler! Name benötigt!');
                return;
            }
            this.isLoading = true;

            let formData = new FormData();
            formData.append('name', this.props.name);
            formData.append('street', this.props.street);
            formData.append('city', this.props.city);
            formData.append('zipCode', this.props.zipCode);

            let type = 'POST';

            if (this.props._id) {
                type = 'PATCH';
                formData.append('$_id', this.props._id);
            }

            submit(this, 'organization', formData, type, 'Organisation');
        }
    }
}
</script>

<style>
</style>
