<template>
    <loader v-if="isLoading"></loader>
    <form v-else>
        <fieldset>
            <legend align="top">
                Pr&uuml;fgrundlagen 
            </legend>
            <label>
                <span>Text:</span> 
                <autocomplete-textarea collection="inspectionOverview" mkey="text" placeholder="Prüfgrundlagen" v-model="props.text"></autocomplete-textarea>
            </label>
            <br>
            <input type="button" @click="submit" style="float: right" value="Speichern">
        </fieldset>
    </form>
</template>

<script>

import Loader from './Loader'
import AutocompleteTextarea from './AutocompleteTextarea'

import { error } from '../EventBus.js'
import { getInspectionOverview, submit } from '../ajax.js'

const $ = require('jquery');

export default {
    name: 'FormInspectionOverview',
    components: {
        Loader,
        AutocompleteTextarea,
    },
    props: {
        data: Object,
    },
    data: function() {
        return {
            props: {
                text: ''
            },
            isLoading: true
        };
    },
    created: function() {
        this.props.din = this.data.din || '';
        if (this.data._id) {
            getInspectionOverview(this.data._id).then((resp) => {
                this.props = resp.data;
                this.isLoading = false;
            }, () => {
                error('Fehler! Prüfgrundlagen konnten nicht gefunden werden!');
                this.$parent.$emit('close', { success: false });
            });
        } else {
            this.isLoading = false;
        }
    },
    methods: {
        submit: function(e) {
            if (this.props.text.length === 0) {
                error('Fehler! Text benötigt!');
                return;
            }
            this.isLoading = true;

            let formData = new FormData();
            formData.append('text', this.props.text);

            let type = 'POST';

            if (this.props._id) {
                type = 'PATCH';
                formData.append('$_id', this.props._id);
            }

            submit(this, 'inspectionOverview', formData, type, 'Prüfgrundlage');
        }
    }
}
</script>

<style>
</style>

