<template>
    <form>
        <fieldset>
            <legend>
                <span>Protokollsuche</span>
            </legend>
            <label>
                <span>Titel:</span>
                <autocomplete-input collection="protocols" mkey="title" placeholder="Titel" v-model="props.title"></autocomplete-input>
            </label>

            <label>
                <span>Objekt:</span>
                <selection v-model="props.facility" type="facility" read-only>
                    <preview-facility slot="preview" :data="props.facility.data"></preview-facility>
                </selection>
            </label>

            <label>
                <span>Pr&uuml;fer:</span>
                <selection v-model="props.inspector" type="person" read-only>
                    <preview-person slot="preview" :data="props.inspector.data"></preview-person>
                </selection>
            </label>

            <label>
                <span>Auftraggeber:</span>
                <selection v-model="props.issuer" type="organization" read-only>
                    <preview-organization slot="preview" :data="props.issuer.data"></preview-organization>
                </selection>
            </label>

        </fieldset>
    </form>
</template>

<script>
import PreviewPerson from './PreviewPerson'
import PreviewOrganization from './PreviewOrganization'
import PreviewFacility from './PreviewFacility'

import AutocompleteInput from './AutocompleteInput'
import Selection from './Selection'
import Loader from './Loader'

export default {
    name: 'FormSearch',
    components: {
        AutocompleteInput,
        Selection,
        Loader,

        PreviewPerson,
        PreviewOrganization,
        PreviewFacility,
    },
    props: {
        value: Object
    },
    computed: {
        props: function() {
            return this.value;
        }
    },
}
</script>

<style>

</style>
