<template>
    <loader v-if="isLoading"></loader>
    <form v-else>
        <fieldset>
            <legend align="top">
                Person 
            </legend>
            <label>
                <span>Name:</span> 
                <input type="text" placeholder="Name" v-model="props.name">
            </label>
            <label>
                <span>Vorname:</span> 
                <input type="text" placeholder="Vorname" v-model="props.firstName">
            </label>
            <label>
                <span>E-Mail:</span> 
                <input type="email" placeholder="E-Mail" v-model="props.email">
            </label>
            <label>
                <span>Organisation:</span> 
                <selection v-model="props.organization" type="organization">
                    <form-organization :data="props.organization.data"></form-organization>
                    <preview-organization slot="preview" :data="props.organization.data"></preview-organization>
                </selection>
            </label>
            <br>
            <input type="button" @click="submit" style="float: right" value="Speichern">
        </fieldset>
    </form>
</template>

<script>

import FormOrganization from './FormOrganization'
import Selection from './Selection'
import PreviewOrganization from './PreviewOrganization'
import Loader from './Loader'

import { error } from '../EventBus.js'
import { getPerson, submit } from '../ajax.js'

const $ = require('jquery');

export default {
    name: 'FormFacility',
    components: {
        Selection,
        FormOrganization,
        PreviewOrganization,
        Loader,
    },
    props: {
        data: Object,
    },
    data: function() {
        return {
            props: {
                name: '',
                firstName: '',
                email: '',
                organization: {
                    repr: '',
                    data: { id: null },
                }
            },
            isLoading: true,
        };
    },
    created: function() {
        this.props.name = this.data.name || '';
        if (this.data._id) {
            getPerson(this.data._id).then((resp) => {
                this.props = resp.data;
                this.isLoading = false;
            }, () => {
                error('Fehler! Person konnte nicht gefunden werden!');
                this.$parent.$emit('close', { success: false });
            });
        } else {
            this.isLoading = false;
        }
    },
    methods: {
        submit: function(e) {
            if (this.props.name.length === 0) {
                error('Fehler! Name benötigt!');
                return;
            }
            this.isLoading = true;

            let formData = new FormData();
            formData.append('name', this.props.name);
            formData.append('firstName', this.props.firstName);
            formData.append('email', this.props.email);
            formData.append('organization', this.props.organization.data._id);

            let type = 'POST';

            if (this.props._id) {
                type = 'PATCH';
                formData.append('$_id', this.props._id);
            }

            submit(this, 'person', formData, type, 'Person');
        }
    }
}
</script>

<style>
</style>
