<template>
    <loader v-if="isLoading"></loader>
    <form v-else>
        <fieldset>
            <legend>
                <span>Protokoll</span><autocomplete-input collection="protocols" mkey="title" placeholder="Titel" v-model="props.title"></autocomplete-input>
            </legend>

            <label>
                <span>Pr&uuml;fgrundlagen:</span>
                <selection v-model="props.inspectionOverview" type="inspectionOverview">
                    <form-inspection-overview :data="props.inspectionOverview.data"></form-inspection-overview>
                    <preview-inspection-overview slot="preview" :data="props.inspectionOverview.data"></preview-inspection-overview>
                </selection>
            </label>

            <div class="header-body">
                <label>
                    <span>Objekt:</span>
                    <selection v-model="props.facility" type="facility">
                        <form-facility :data="props.facility.data"></form-facility>
                        <preview-facility slot="preview" :data="props.facility.data"></preview-facility>
                    </selection>
                </label>

                <label>
                    <span>Pr&uuml;fdatum:</span>
                    <input type="date" v-model="props.inspectionDate">
                </label>

                <label>
                    <span>Pr&uuml;fer:</span>
                    <selection v-model="props.inspector" type="person">
                        <form-person :data="props.inspector.data"></form-person>
                        <preview-person slot="preview" :data="props.inspector.data"></preview-person>
                    </selection>
                </label>

                <label>
                    <span>Auftraggeber:</span>
                    <selection v-model="props.issuer" type="organization">
                        <form-organization :data="props.issuer.data"></form-organization>
                        <preview-organization slot="preview" :data="props.issuer.data"></preview-organization>
                    </selection>
                </label>

                <label>
                    <span>Weitere Teilnehmer:</span>
                    <input type="text" v-model="props.attendees" placeholder="Weitere Teilnehmer">
                </label>
            </div>
        </fieldset>
    </form>
</template>

<script>
import FormFacility from './FormFacility'
import FormPerson from './FormPerson'
import FormOrganization from './FormOrganization'
import FormInspectionOverview from './FormInspectionOverview'

import PreviewPerson from './PreviewPerson'
import PreviewOrganization from './PreviewOrganization'
import PreviewFacility from './PreviewFacility'
import PreviewInspectionOverview from './PreviewInspectionOverview'

import AutocompleteInput from './AutocompleteInput'
import Selection from './Selection'
import Loader from './Loader'

export default {
    name: 'FormHeader',
    components: {
        AutocompleteInput,
        Selection,
        Loader,

        FormFacility,
        FormPerson,
        FormOrganization,
        FormInspectionOverview,

        PreviewPerson,
        PreviewOrganization,
        PreviewFacility,
        PreviewInspectionOverview
    },
    props: {
        value: Object,
    },
    computed: {
        props: function() {
            return this.value;
        }
    },
    data: function() {
        return {
            isLoading: true
        }
    },
    created: function() {
        this.isLoading = false;
    }
}
</script>

<style scoped>

legend > * {
    margin-left: 10px;
}

</style>
