<template>
    <loader v-if="isLoading"></loader>
    <form v-else>
        <fieldset>
            <legend>
                Kategorie
            </legend>
            <label>
                <span>Name:</span> 
                <input type="text" placeholder="Name" v-model="props.name">
            </label>

            <div class="list">
                <label v-for="(std, idx) in props.inspectionStandards" :key="'inspectionStandard' + idx">
                    <span></span>
                    <div style="display: inline-block">
                        <input type="text" :value="std.repr" class="selected-item" disabled>
                        <div @click="remove(idx)" class="clear"><span>&times;</span></div>
                    </div>
                </label>
            </div>
                
            <label>
                <span>Pr&uuml;fkriterium aufnehmen:</span>
                <selection v-model="newInspectionStandard" type="inspectionStandard">
                    <form-inspectionstandard :data="newInspectionStandard.data"></form-inspectionstandard>
                </selection>
            </label>
            <br>
            <input type="button" @click="submit" style="float: right" value="Speichern">
        </fieldset>
    </form>
</template>

<script>
import Selection from './Selection'
import FormInspectionstandard from './FormInspectionstandard'
import Loader from './Loader'

import { error } from '../EventBus.js'
import { getCategory, submit } from '../ajax.js'

const $ = require('jquery');

export default {
    name: 'FormCategory',
    components: {
        Selection,
        FormInspectionstandard,
        Loader
    },
    props: {
        data: Object,
    },
    data: function() {
        return {
            props: {
                name: '',
                inspectionStandards: [],
            },
            newInspectionStandard: {
                repr: '',
                data: { _id: '' }
            },
            isLoading: true
        };
    },
    created: function() {
        this.props.name = this.data.name || '';
        if (this.data._id) {
            getCategory(this.data._id).then((resp) => {
                this.props = resp.data;
                this.isLoading = false;
            }, () => {
                error('Fehler! Kategorie konnte nicht gefunden werden!');
                this.$parent.$emit('close', { success: false });
            });
        } else {
            this.isLoading = false;
        }
    },
    watch: {
        newInspectionStandard: function(newVal) {
            if (newVal.data !== undefined && newVal.data._id !== undefined) {
                this.props.inspectionStandards.push(Object.assign({}, newVal));
                this.newInspectionStandard.repr = '';
                this.newInspectionStandard.data = { _id: '' };
            }
        }
    },
    methods: {
        remove: function(idx) {
            this.props.inspectionStandards.splice(idx, 1);
        },
        submit: function(e) {
            if (this.props.name.length === 0) {
                error('Fehler! Name benötigt!');
                return;
            }
            this.isLoading = true;

            let formData = new FormData();
            formData.append('name', this.props.name);

            let inspectionStandards = this.props.inspectionStandards.filter((i) => i.data._id).map((i) => i.data._id);
            if (inspectionStandards.length === 0) {
                error('Fehler! Keine Prüfkriterien ausgewählt!');
                this.isLoading = false;
                return;
            }
            formData.append('inspectionStandards', inspectionStandards);

            let type = 'POST';

            if (this.props._id) {
                type = 'PATCH';
                formData.append('$_id', this.props._id);
            }

            submit(this, 'category', formData, type, 'Kategorie');
        }
    }
}
</script>

<style scoped>

.selected-item {
    float: left;
    width: 377px;
}

</style>
