<template>
    <loader v-if="isLoading"></loader>
    <form v-else>
        <fieldset>
            <legend align="top">
                Pr&uuml;fkriterium 
            </legend>
            <label>
                <span>DIN:</span> 
                <input type="text" placeholder="Name" v-model="props.din">
            </label>
            <label>
                <span>Versioniert:</span> 
                <select v-model="props.hasVersion">
                    <option>Ja</option>
                    <option>Nein</option>
                </select>
            </label>
            <label>
                <span>Beschreibung:</span> 
                <input type="text" placeholder="Beschreibung" v-model="props.description">
            </label>
            <br>
            <input type="button" @click="submit" style="float: right" value="Speichern">
        </fieldset>
    </form>
</template>

<script>

import Loader from './Loader'

import { error } from '../EventBus.js'
import { getInspectionStandard, submit } from '../ajax.js'

const $ = require('jquery');

export default {
    name: 'FormInspectionstandard',
    components: {
        Loader
    },
    props: {
        data: Object,
    },
    data: function() {
        return {
            props: {
                din: '',
                hasVersion: 'Nein',
                description: '',
            },
            isLoading: true
        };
    },
    created: function() {
        this.props.din = this.data.din || '';
        if (this.data._id) {
            getInspectionStandard(this.data._id).then((resp) => {
                this.props = resp.data;
                this.isLoading = false;
            }, () => {
                error('Fehler! Prüfkriterium konnte nicht gefunden werden!');
                this.$parent.$emit('close', { success: false });
            });
        } else {
            this.isLoading = false;
        }
    },
    methods: {
        submit: function(e) {
            if (this.props.din.length === 0) {
                error('Fehler! DIN benötigt!');
                return;
            }
            this.isLoading = true;

            let formData = new FormData();
            formData.append('din', this.props.din);
            formData.append('description', this.props.description);
            formData.append('hasVersion', this.props.hasVersion);

            let type = 'POST';

            if (this.props._id) {
                type = 'PATCH';
                formData.append('$_id', this.props._id);
            }

            submit(this, 'inspectionStandard', formData, type, 'Prüfgrundlage');
        }
    }
}
</script>

<style>
</style>

