<template>
    <loader v-if="isLoading"></loader>
    <form v-else>
        <input type="button" @click="$emit('delete')" value="X" class="btn-delete" style="left: 96%;">
        <fieldset>
            <legend>
                Eintrag
            </legend>

            <label>
                <span>Kategorie:</span>
                <selection v-model="props.category" type="category">
                    <form-category :data="props.category.data"></form-category>
                    <preview-category slot="preview" :data="props.category.data"></preview-category>
                </selection>
            </label>
            <label>
                <span>Version:</span>
                <input type="number" size=4 placeholder="Version" v-model="props.categoryVersion">
            </label>
            <div class="sep-line-small"><hr></div>
            <label>
                <span>Bezeichung:</span>
                <autocomplete-input collection="entries" mkey="title" placeholder="Bezeichnung" v-model="props.title"></autocomplete-input>
            </label>
            <label>
                <span>Hersteller:</span>
                <autocomplete-input collection="entries" mkey="manufacturer" placeholder="Hersteller" v-model="props.manufacturer"></autocomplete-input>
            </label>
            <label>
                <span>Baujahr:</span>
                <input type="number" size=4 placeholder="Baujahr" v-model="props.yearBuilt">
            </label>
            <label>
                <span>Pr&uuml;fzeichen:</span>
                <autocomplete-input collection="entries" mkey="inspectionSigns" placeholder="Prüfzeichen" v-model="props.inspectionSigns"></autocomplete-input>
            </label>
            <label>
                <span>Herstellerinformation:</span>
                <select v-model="props.manufactureInfoAvailable">
                    <option>Keine Angabe</option>
                    <option>Ja</option>
                    <option>Nein</option>
                </select>
            </label>
            <label>
                <span>Leicht zug&auml;nglich:</span>
                <select v-model="props.easyAccess">
                    <option>Keine Angabe</option>
                    <option>Ja</option>
                    <option>Nein</option>
                </select>
            </label>
            <div v-for="(fi, index) in props.flawInformation" :key="'flaw-' + index">
                <br>
                <fieldset>
                    <legend align="right">
                        <input type="button" @click="removeFlawInfo(index)" class="btn-delete" value="X">
                    </legend>
                    <img :src="fi.pictureData" v-show="fi.pictureData">
                    <label>
                        <span>Mangel:</span>
                        <autocomplete-input collection="flaws" mkey="flaw" v-model="fi.flaw" placeholder="Mangel"></autocomplete-input>
                    </label>
                    <label>
                        <span>Priorit&auml;t:</span>
                        <autocomplete-input collection="flaws" mkey="priority" v-model="fi.priority" placeholder="Priorität"/>
                    </label>
                    <label>
                        <span>Bemerkungen:</span>
                        <autocomplete-textarea collection="flaws" mkey="notes" v-model="fi.notes" placeholder="Bemerkungen"></autocomplete-textarea>
                    </label>
                    <label>
                        <span>Bild anf&uuml;gen:</span>
                        <input type="file" accept="image/*" v-on:change="handlePictureUpload($event, fi)">
                    </label>
                </fieldset>
            </div>
            <br>
            <input type="button" @click="addFlawInfo" style="float: right" value="+ Mangel">
        </fieldset>
    </form>
</template>

<script>
import AutocompleteInput from './AutocompleteInput'
import AutocompleteTextarea from './AutocompleteTextarea'
import Selection from './Selection'
import Loader from './Loader'
import { notify } from '../EventBus.js'
import { newFlawInfoData } from '../helpers.js'

import FormCategory from './FormCategory'
import PreviewCategory from './PreviewCategory'

import { getPictureUrl } from '../urls.js'

const $ = require('jquery');

export default {
    name: 'FormEntry',
    components: {
        AutocompleteInput,
        AutocompleteTextarea,
        Selection,
        FormCategory,
        PreviewCategory,
        Loader
    },
    props: {
        value: Object,
    },
    computed: {
        props: function() {
            return this.value;
        }
    },
    data: function() {
        return {
            isLoading: true
        }
    },
    created: function() {
        if (this.props.flawInformation.length === 0) {
            this.addFlawInfo();
        } else {
            this.props.flawInformation.forEach((fi, i) => {
                if (fi.picture) {
                    let url = getPictureUrl('flaw', fi._id, fi.picture);
                    let xhr = new XMLHttpRequest();
                    xhr.addEventListener('load', (e) => {
                        if (xhr.status == 200) {
                            fi.pictureFile = xhr.response;
                            fi.pictureData = url;
                            this.$set(this.props.flawInformation, i, Object.assign({}, fi));
                        }
                    });
                    xhr.open('GET', url);
                    xhr.responseType = 'blob';
                    xhr.send();
                }
            });
        }
        this.isLoading = false;
    },
    methods: {
        handlePictureUpload: function(e, flawInfo) {
            flawInfo.pictureFile = e.target.files[0];
            let reader = new FileReader();
            reader.addEventListener('load', () => {
                flawInfo.pictureData = reader.result;
                flawInfo.picture = '';
            }, false);
            reader.readAsDataURL(flawInfo.pictureFile);
        },
        removeFlawInfo: function(index) {
            this.props.flawInformation.splice(index, 1);
            notify('Mangel wurde entfernt.');
        },
        addFlawInfo: function() {
            this.props.flawInformation.push(newFlawInfoData());
        }
    }
}
</script>

<style scoped>

img {
    width: 150px;
    height: auto;
    float: right;
}
</style>