<template>
  <div>
    <div id="dashboard">
        <div class="dashboard-float-right">
            <a href="javascript:void(0)"  @click="logout">Logout</a>
        </div>
        <div class="dashboard-float-left">
            <template v-if="activeui === 'PROTOCOL_LOAD'">
                <a href="javascript:void(0)" class="symbol" @click="() => activeui = 'MAIN_MENU'">Zur&uuml;ck</a>
            </template>
            <template v-else-if="activeui === 'MAIN_MENU'">
                <a href="javascript:void(0)" @click="() => activeui = 'PROTOCOL_LOAD'">Laden</a>
            </template>
        </div>
    </div>

    <flash-messages></flash-messages>
    <loader v-if="activeui === 'LOADING'"></loader>
    <page-protocol
        v-else-if="activeui === 'MAIN_MENU'"
        v-model="protocol"
        @submit="submitProtocol">
    </page-protocol>
    <page-load
        v-else-if="activeui === 'PROTOCOL_LOAD'"
        @loadprotocol="loadProtocol"
        @renderprotocol="renderProtocol">
    </page-load>
  </div>
</template>

<script>
import FlashMessages from './FlashMessages'
import Loader from './Loader'

import PageProtocol from './PageProtocol'
import PageLoad from './PageLoad'

import { notify, error } from "../EventBus.js";
import { postProtocol, fetch, getProtocol } from '../ajax.js';
import { urlRender } from '../urls.js';
import { newHeaderData } from '../helpers.js';

const $ = require('jquery');

export default {
    name: 'Main',
    components: {
        FlashMessages,
        Loader,
        PageProtocol,
        PageLoad,
    },
    data: function() {
        return {
            flashMessages: [],
            activeui: 'MAIN_MENU',
            protocol: {
                _id: '',
                header: newHeaderData(),
                entries: []
            },
        }
    },
    methods: {
        renderProtocol: function(_id) {
            window.open(urlRender + _id);
        },
        submitProtocol: function() {
            this.activeui = 'LOADING';
            postProtocol(this.protocol).then((_id) => {
                notify('Neues Protokoll angelegt.');
                this.activeui = 'MAIN_MENU';
                this.protocol.header = newHeaderData();
                this.protocol.entries = [];
                this.protocol._id = '';

                this.renderProtocol(_id);
            }, () => {
                this.activeui = 'MAIN_MENU';
                error('Protokoll konnte nicht angelegt werden!');
            });
        },
        loadProtocol: function(_id) {
            this.activeui = 'LOADING';
            getProtocol(_id).then((protocol) => {
                this.protocol = Object.assign({}, protocol);
                this.activeui = 'MAIN_MENU';
            });
        },
        logout: function() {
            console.log('That would be a nice feature, wouldn\'t it?');
        },
    }
}
</script>

<style>

div#dashboard {
    position: fixed;
    width: 100%;
    z-index: 9999;
    margin: 0px;
    top: 0;
    left: 0;
}

#dashboard {
    background: #303F9F;
    height: 63px;
    text-align: center;
}

#dashboard a {
    color: #E8EAF6;
    text-decoration: none;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    padding: 9px;
    margin-left: 3px;
}

#dashboard a:hover {
    color: #303F9F;
    background: #E8EAF6;
}

.dashboard-float-right {
    float: right;
    margin-right: 5px;
    position: relative;
    top: 30%;
}

.dashboard-float-left {
    float: left;
    margin-left: 5px;
    position: relative;
    top: 30%;
}

</style>
