<template>
    <loader v-if="isLoading"></loader>
    <div v-else id="forms">
        <form-search v-model="searchHeader"></form-search>
        <input type="button" value="Suche" @click="search" class="protocol-search">
        <div class="search-preview" v-for="(protocol, index) in protocols" :key="'protocol-preview-' + index">
            <br>
            <fieldset>
                <legend><span class="title">{{ protocol.title }}</span></legend>
                <!--<input type="button" class="btn-delete float-right" @click="deleteProtocol(index)" value="Löschen">-->
                <p><span class="special-entity">{{ protocol.facility.repr }}</span> (am <span class="special-entity>">{{ protocol.inspectionDate }}</span>)</p>
                <p>Gepr&uuml;ft durch <span class="special-entity">{{ protocol.inspector.repr }}</span></p>
                <p>im Auftrag von <span class="special-entity">{{ protocol.issuer.repr }}</span></p>
                <input type="button" class="protocol-preview-options float-right" @click="$emit('loadprotocol', protocol._id)" value="Laden">
                <input type="button" class="protocol-preview-options float-right" @click="$emit('renderprotocol', protocol._id)" value="Anzeigen">
            </fieldset>
        </div>
    </div>
</template>

<script>
import FormSearch from './FormSearch'

import Loader from './Loader'

import { newHeaderData, endpointByType } from '../helpers.js'
import { error, notify } from '../EventBus.js'
import { urlApi } from '../urls.js'
import { resolveProtocolPreview, deleteProtocol } from '../ajax.js'

const $ = require('jquery');

export default {
    name: 'PageLoad',
    components: {
        FormSearch,

        Loader
    },
    data: function() {
        return {
            searchHeader: newHeaderData(),
            isLoading: false,
            protocols: []
        }
    },
    methods: {
        search: function() {
            this.isLoading = true;
            let data = {};
            if (this.searchHeader.title !== '') {
                data.title = this.searchHeader.title;
            }
            [ 'facility', 'inspector', 'issuer' ].forEach((el) => {
                if (this.searchHeader[el].data._id) {
                    data[el] = this.searchHeader[el].data._id;
                }
            });

            let err = () => {
                error('Da ist wohl etwas schief gelaufen ¯\\_(ツ)_/¯');
                this.isLoading = false;
            };

            $.ajax({
                url : urlApi + endpointByType('protocol'),
                data: data,
                type: 'GET',
                success: (resp) => {
                    this.protocols = resp.result;
                    let deferred = this.protocols.map(resolveProtocolPreview);
                    $.when(...deferred).then(() => this.isLoading = false, err);
                },
                error: err
            });
        },
        deleteProtocol: function(index) {
            let _id = this.protocols[index]._id;
            let err = () => {
                error('Protokoll konnte nicht gelöscht werden!');
            }
            deleteProtocol(_id).then((result) => {
                if (result) {
                    notify('Protokoll wurde erfolgreich gelöscht!');
                    this.protocols.splice(index, 1);
                } else {
                    err();
                }
            }, err);
        }
    }
}
</script>

<style scoped>

.float-right {
    float: right;
}

input[type="button"].protocol-search {
    display: block;
    text-align: center;
    width: 800px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

input[type="button"].protocol-preview-options {
    margin-left: 7px;
    width: 100px;
}

span.title {
    font-weight: bold;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 1.3em;
    color: #303F9F;
}
span.special-entity {
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 1.2em;
    font-weight: 600;
}

div.search-preview {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    position: relative;
    width: 850px;
    font-family: Lucida Sans Typewriter, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
    font-size: 0.8em;
    font-style: italic;
    text-decoration: none;
    border-radius: 2px;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

</style>
