<template>
    <div class="preview">
        <loader v-if="isLoading" size="20"></loader>
        <template v-else>
            <p>{{ props.text }}</p>
        </template>
    </div>
</template>

<script>
import Loader from './Loader'

import { getInspectionOverview } from '../ajax.js'

export default {
    name: 'PreviewInspectionoverview',
    components: {
        Loader,
    },
    props: {
        data: Object
    },
    data: function() {
        return {
            isLoading: true,
            props: {
                text: '',
            }
        }
    },
    created: function() {
        this.isLoading = true;

        if (this.data) {
            getInspectionOverview(this.data._id).then((res) => {
                this.props = res.data;
                this.isLoading = false;
            }, (result) => console.error(result));
        }
    },
}
</script>

<style>

</style>