<template>
    <drops-down :items="dropdownItems" @selected="selected">
        <div style="display: inline-block">
            <input
                v-model="query"
                type="text"
                @focus="show()"
                @mouseover="onMouseOver"
                @mouseout="showPreview = false"
                @blur="hide()"
                placeholder="Suche...">
            <div @click="edit" class="edit" :style="{ visibility: readOnly ? 'hidden': null }"><span>&#9998;</span></div>
            <div @click="clear" class="clear"><span>&times;</span></div>
        </div>
        <div v-if="showPreview" class="bubble">
            <slot name="preview">Keine Vorschau verf&uuml;gbar</slot>
        </div>
        <overlay :show="showForm" @close="onFormClosed">
            <slot>Nicht verf&uuml;gbar</slot>
        </overlay>
    </drops-down>
</template>

<script>

import DropsDown from './DropsDown'
import Overlay from './Overlay'

import { fetch } from '../ajax.js'

const _ = require('lodash');

export default {
    name: 'Selection',
    components: {
        DropsDown,
        Overlay
    },
    props: {
        type: String,
        value: Object,
        readOnly: {
            type: Boolean,
            default: false,
        }
    },
    data: function() {
        return {
            showDropdown: false,
            showForm: false,
            showPreview: false,
            items: [],
            query: ''
        }
    },
    created: function() {
        if (this.value.repr === undefined) {
            this.setValue(this.getNew());
        } else {
            this.query = this.value.repr;
        }
    },
    watch: {
        value: function(newVal) {
            this.query = newVal.repr;
        }
    },
    computed: {
        dropdownItems: function() {
            if (!this.showDropdown) {
                return [];
            }

            let rv = this.items;
            console.log(JSON.stringify(rv));
            if (this.query !== '') {
                rv = rv.filter((i) => i.repr.indexOf(this.query) >= 0);
            }

            if (!this.readOnly) {
                rv = rv.concat({ repr: 'Neu ...', data: 'addnew' });
            }

            return rv;
        }
    },
    methods: {
        selected: function(e) {
            this.hide();
            if (e.data == 'addnew') {
                this.showForm = true;
            } else {
                this.setValue(Object.assign({}, e));
            }
        },
        clear: function() {
            this.setValue(this.getNew());
            this.hide();
            this.$emit('cleared');
        },
        edit: function() {
            if (this.value.data && this.value.data._id) {
                this.showForm = true;
            }
        },
        onMouseOver: function() {
            if (this.value.data && this.value.data._id) {
                this.showPreview = true;
            }
        },
        onFormClosed: function(e) {
            this.showForm = false;
            if (e.success) {
                this.setValue(Object.assign({}, e.data));
            }
        },
        getNew: function() {
            return { repr: '', data: { _id: null } };
        },
        setValue: function(v) {
            this.$emit('input', v);
        },
        show: function() {
            fetch(this.type).then((items) => this.items = items, (err) => console.error(err));
            this.showDropdown = true;
        },
        hide: function() {
            this.showDropdown = false;
            this.items = [];
        }
    }
}
</script>

<style scoped>

input[type=text] {
    float: left;
    width:343px;
    height:27px;
    line-height:27px;
    text-indent:10px;
    font-family:arial, sans-serif;
    font-size:1em;
    color:#333;
    background: #fff;
    border:solid 1px #d9d9d9;
    border-top:solid 1px #c0c0c0;
    border-right:none;
}

</style>
